/*
 * Author: Adrián Sánchez
 */
body{
	margin: 0px;
}
.header{
	background-position: 0px -200px;
	text-align: center;
	background-size: 100% 120%;
	height: 100vh;
	background-image: url(../img/back.png);
}
.header div{
	position: relative;
	margin: auto;
	top: 50%;
}
h1{
	color:white;
}
.img-responsive{
	max-width: 100%;
}
#chart_div{
	height: 100vh;
}
#chart_div2{
	height: 100vh;
}