body{
    background: #005949;
    text-align: center;
}
.image{
    max-width: 80%;
}
.content{
  height: 100vh;
}
.bottom{
  position: fixed;
  width: auto;
  bottom: 10%;
  left: 40%;
  right: 40%;
}