body{
  background: url(../img/paginaHW.png) no-repeat;
  background-size: 90%;
  background-position: center;
  background-color: #005949;
  text-align: center;
  height: 100vh;
}
.bottom{
  position: fixed;
  bottom: 20%;
  left: 30%;
  right: 30%;
  max-height: 10%;
}
img{
  width: 100%;
}