.version.publicaciones /* version checker */
{
	color: #00001F;
	background-color: #3F0119;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1024px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	padding-top: 43px;
	width: 0.01px;
}

#u653
{
	z-index: 39;
	width: 164px;
	margin-left: 430px;
}

#menuu389
{
	z-index: 2;
	width: 979px;
	margin-left: 23px;
	margin-top: 27px;
}

#u418
{
	width: 125px;
	min-height: 42px;
	margin-right: -10000px;
}

#u421
{
	width: 125px;
	padding-bottom: 22px;
}

#u421:hover
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u421:active
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u421.MuseMenuActive
{
	width: 125px;
	min-height: 0px;
	margin: 0px;
}

#u423-4
{
	width: 49px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
	left: 38px;
}

#u421:hover #u423-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u421:active #u423-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u421.MuseMenuActive #u423-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 49px;
	margin: 0px -10000px 0px 0px;
}

#u397
{
	width: 178px;
	min-height: 42px;
	margin-right: -10000px;
	left: 127px;
}

#u400
{
	width: 178px;
	padding-bottom: 22px;
}

#u400:hover
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u400:active
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u400.MuseMenuActive
{
	width: 178px;
	min-height: 0px;
	margin: 0px;
}

#u402-4
{
	width: 103px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
	left: 37px;
}

#u400:hover #u402-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u400:active #u402-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u400.MuseMenuActive #u402-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 103px;
	margin: 0px -10000px 0px 0px;
}

#u390
{
	width: 160px;
	min-height: 42px;
	margin-right: -10000px;
	left: 307px;
}

#u393
{
	width: 160px;
	padding-bottom: 22px;
}

#u393:hover
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u393:active
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u393.MuseMenuActive
{
	width: 160px;
	min-height: 0px;
	margin: 0px;
}

#u395-4
{
	width: 85px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
	left: 37px;
}

#u393:hover #u395-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u393:active #u395-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u393.MuseMenuActive #u395-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u2593
{
	width: 194px;
	min-height: 42px;
	margin-right: -10000px;
	left: 469px;
}

#u2594
{
	width: 194px;
	padding-bottom: 22px;
}

#u2594:hover
{
	width: 194px;
	min-height: 0px;
	margin: 0px;
}

#u2594:active
{
	width: 194px;
	min-height: 0px;
	margin: 0px;
}

#u2594.MuseMenuActive
{
	width: 194px;
	min-height: 0px;
	margin: 0px;
}

#u2595-4
{
	width: 119px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
	left: 37px;
}

#u2594:hover #u2595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u2594:active #u2595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u2594.MuseMenuActive #u2595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 119px;
	margin: 0px -10000px 0px 0px;
}

#u2317
{
	width: 158px;
	min-height: 42px;
	margin-right: -10000px;
	left: 665px;
}

#u2318
{
	width: 158px;
	padding-bottom: 22px;
}

#u2318:hover
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u2318:active
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u2318.MuseMenuActive
{
	width: 158px;
	min-height: 0px;
	margin: 0px;
}

#u2320-4
{
	width: 83px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
	left: 37px;
}

#u2318:hover #u2320-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u2318:active #u2320-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u2318.MuseMenuActive #u2320-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u404
{
	width: 154px;
	min-height: 42px;
	margin-right: -10000px;
	left: 825px;
}

#u407
{
	width: 154px;
	padding-bottom: 22px;
}

#u407:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u407:active
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u407.MuseMenuActive
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u409-4
{
	width: 79px;
	min-height: 20px;
	margin-right: -10000px;
	top: 11px;
	left: 37px;
}

#u407:hover #u409-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u407:active #u409-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u407.MuseMenuActive #u409-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u2600
{
	z-index: 233;
	width: 1025px;
	border-color: #000000;
	background-color: #033649;
	padding-bottom: 39px;
	margin-top: 21px;
	position: relative;
}

#u2601-4
{
	z-index: 234;
	width: 442px;
	min-height: 25px;
	background-color: transparent;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 114px;
}

#pu2602-185
{
	width: 0.01px;
	margin-left: 114px;
	margin-top: 66px;
}

#u2602-185
{
	z-index: 41;
	width: 724px;
	min-height: 626px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2602-29
{
	font-style: italic;
}

#u2602-2,#u2602-7,#u2602-12,#u2602-17,#u2602-22,#u2602-27,#u2602-34,#u2602-39,#u2602-44,#u2602-49,#u2602-54,#u2602-59,#u2602-64,#u2602-69,#u2602-74,#u2602-79,#u2602-84,#u2602-89,#u2602-94,#u2602-99,#u2602-104,#u2602-109,#u2602-114,#u2602-119,#u2602-124,#u2602-129,#u2602-134,#u2602-139,#u2602-144,#u2602-149,#u2602-154,#u2602-159,#u2602-164,#u2602-169,#u2602-174,#u2602-179
{
	font-weight: bold;
}

#u2602-4,#u2602-5,#u2602-9,#u2602-10,#u2602-14,#u2602-15,#u2602-19,#u2602-20,#u2602-24,#u2602-25,#u2602-31,#u2602-32,#u2602-36,#u2602-37,#u2602-41,#u2602-42,#u2602-46,#u2602-47,#u2602-51,#u2602-52,#u2602-56,#u2602-57,#u2602-61,#u2602-62,#u2602-66,#u2602-67,#u2602-71,#u2602-72,#u2602-76,#u2602-77,#u2602-81,#u2602-82,#u2602-86,#u2602-87,#u2602-91,#u2602-92,#u2602-96,#u2602-97,#u2602-101,#u2602-102,#u2602-106,#u2602-107,#u2602-111,#u2602-112,#u2602-116,#u2602-117,#u2602-121,#u2602-122,#u2602-126,#u2602-127,#u2602-131,#u2602-132,#u2602-136,#u2602-137,#u2602-141,#u2602-142,#u2602-146,#u2602-147,#u2602-151,#u2602-152,#u2602-156,#u2602-157,#u2602-161,#u2602-162,#u2602-166,#u2602-167,#u2602-171,#u2602-172,#u2602-176,#u2602-177,#u2602-181,#u2602-182
{
	font-size: 13px;
	line-height: 16px;
	font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
}

#u2632
{
	z-index: 238;
	width: 85px;
	border-style: none;
	border-color: transparent;
	background-color: #033649;
	border-radius: 10px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 724px;
}

#u2632:hover
{
	background-color: #020F24;
	width: 85px;
	min-height: 0px;
	margin: 3px -10000px 0px 0px;
}

#u2633-4
{
	z-index: 239;
	width: 69px;
	min-height: 20px;
	background-color: transparent;
	line-height: 16px;
	color: #FFFFFF;
	font-size: 13px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 8px;
}

#u388
{
	z-index: 226;
	width: 540px;
	margin-top: 53px;
	padding: 35px 242px 17.201960784313997px;
}

#u2300
{
	z-index: 231;
	width: 191px;
	margin-left: 175px;
}

#u628-4
{
	z-index: 227;
	width: 540px;
	min-height: 6px;
	margin-top: 26px;
}

body
{
	position: relative;
	min-width: 1024px;
}

#page .verticalspacer
{
	clear: both;
}

